body {
  background-color: white;
}
ul {
  list-style: none;
}
.site-nav a {
  color: #212121;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}
.contact a {
  color: #757575;
}
.contact a:hover,
.contact a:focus {
  color: #2196f3;
}
.section title {
  color: #212121;
}
.hero-title {
  color: #ffffff;
}
.feature-desc {
  color: #757575;
}
