:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
}
ul {
  list-style: none;
}
.site-nav a {
  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.contact a {
  color: var(--text-color);
}
.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}
.section title {
  color: var(--title-text-color);
}
.hero-title {
  color: #ffffff;
}
.feature-desc {
  color: var(--text-color);
}
.do-section-title,
.team-section-title {
  color: var(--title-text-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--background-color);
}
